.DS_Store
node_modules

# Build outputs (any package/app)
build
dist
.svelte-kit
package

# Turborepo
.turbo

# Vercel
.vercel

# Env
.env
.env.*
!.env.example

# Vite timestamps
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.atl/
